{% extends '::layoutSquid.html.twig' %}

{% block slider%}
	{% include '::slider.html.twig' %}

{%endblock %}

{% block menu %}
	{% include 'SquidProjectGeneralBundle:Menus:menuAcl.html.twig' %}

{%endblock %}

{% block corps %}
	<div style="padding-left:150px; padding-top:50px  " class="col-lg-8" >
		<form role="form" method="post" action="{{path("squid_project_general_acl_new")}}">
		<fieldset>

            <div class="form-group ">
                <label class="control-label" for="nom">Nom de l'Acl</label>
                <input type="text" class="form-control" id="nom" name="nom">                
                <label class="control-label" style="float:right"  id="nom_check" ></label>
            </div>
           
            <div class="form-group ">
                <label class="control-label" for="source">Source</label>
                <select class="form-control" name="src" id="src">
                	<option value=""></option>
                    {% for s in srcs %}
                        <option value="{{s.id}}">{{s.nom}}</option>
                    {% endfor %}
                </select>                
                <label class="control-label" style="float:right"  id="src_check" ></label>
            </div>

            <div class="form-group ">
                <label class="control-label" for="horaire">Horaire</label>
                <select class="form-control" name="horaire" id="horaire">
                    <option value="-1">Pas d'horaires</option>
                    {% for h in horaires %}
                        <option value="{{h.id}}">{{h.nom}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group ">
                <label class="control-label" for="rdct">Lien redirection</label>
                <input type="text" class="form-control" name="rdct" id="rdct" />
                
            </div>
            <div class="form-group ">
                <label class="control-label" for="etat">Etat</label>
                <select class="form-control" name="etat" id="etat">
                    <option value="1">Actif</option>
                    <option value="0">Inactif</option>
                </select>
            </div>

            <button type="submit" id="sbmt" class="btn btn-primary">Ajouter</button>
        </fieldset>
        </form>	
	</div>


    <script type="text/javascript">

        var delay = (function(){
            var timer = 0;
            return function(callback, ms){
                clearTimeout (timer);
                timer = setTimeout(callback, ms);
            };
        })();

        $('#nom').keyup(function(){
                var champs="nom";
                var val=$("#"+champs).val();
                delay(function(){
                  $.ajax({
                    url : "/squidproject/web/app_dev.php/validate/acl/"+val,
                    type : 'GET',
                    dataType : 'html',
                    success : function(rslt, statut){
                        $("#"+champs+"_check").html(rslt); 
                         
                    }
                });
                }, 500 );
            });

         $('#src').change(function(){
                var champs="src";
                var val=$("#"+champs).val();
                delay(function(){
                  $.ajax({
                    url : "/squidproject/web/app_dev.php/validate/aclSource/"+val,
                    type : 'GET',
                    dataType : 'html',
                    success : function(rslt, statut){
                        $("#"+champs+"_check").html(rslt); 
                         
                    }
                });
                }, 500 );
            });

        setInterval(function(){
            if($("#nom_check").text()=="OK !"  ){
                if($("#src_check").text()=="OK !"){
                    $("#sbmt").prop("disabled",false);
                }else{
                    $("#sbmt").prop("disabled",true);
                }
            }else{
                $("#sbmt").prop("disabled",true);
            }
        }, 300);



    </script>

{% endblock %}