{% for r in rs %}

<div class="row">
	<div class="col-lg-4" > 
		{% set dbId= render(controller('SquidProjectGeneralBundle:Destination:getIdDB', 
                                            { 'id':r.idDest}  )) %}
		<a href="{{path('squid_project_general_destination_DB_content',{'id':dbId})}}">
			{{render(controller('SquidProjectGeneralBundle:Destination:getNomById', 
                                            { 'id':r.idDest}  ))  }} :</a>
    </div>   
 	<div class="col-lg-4" > 
 		<a href="{{path('squid_project_general_restriction_delete',{'id':r.id})}}"> 
 			<button    class="btn btn-primary" id="del">
                                Supprimer
            </button>
       	</a> 
    </div>
	<div class="col-lg-2" >
		<a {% if r.type==0 %}  onclick="return false;" style="color:black" {%endif%} href="{{path('squid_project_general_restriction_toggle',{'id':r.id})}}"> Bloquer</a> 
	</div>
	<div class="col-lg-2" >
		<a {% if r.type==1 %}  onclick="return false;" style="color:black" {%endif%} href="{{path('squid_project_general_restriction_toggle',{'id':r.id})}}"> Autoriser </a> 
	</div>
</div>

{% endfor %}