<div  class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="{{path("squid_project_general_config")}}"><i class="fa fa-fw fa-dashboard"></i> Variables Système </a>
        </li>
        <li>
            <a href="{{path("squid_project_general_config_policy")}}"><i class="fa fa-fw fa-table"></i> Politiques de Censure</a>
        </li>
        <li>
            <a href="{{path("squid_project_general_user_profil")}}"><i class="fa fa-fw fa-table"></i> Profil </a>
        </li>
        <li>
            <a href="{{path("squid_project_general_user_new")}}"><i class="fa fa-fw fa-table"></i> Ajout d'utilisateurs </a>
        </li>
        <li>
            <a href="{{path("squid_project_general_user_delete")}}"><i class="fa fa-fw fa-table"></i> Suppression d'utilisateurs </a>
        </li>
    </ul>
</div>	      