{% extends '::layoutSquid.html.twig' %}

{% block slider%}
	{% include '::slider.html.twig' %}

{%endblock %}

{% block menu%}
	{% include 'SquidProjectGeneralBundle:Menus:menuConfig.html.twig' %}

{%endblock %}

{% block corps %}
	<div class="col-lg-8" style="padding-left:100px;padding-top:20px">
		<div class="row">
			<form   role="form" method="post" action="{{path('squid_project_general_config_new')}}">
				<fieldset>
					 <div class="col-lg-5">
					 	 <input type="text" class="form-control" name="nom" id="nom" placeholder="nom du champs" required autofocus>
					 	 <label class="control-label" style="float:right"  id="nom_check" ></label>
					 </div>
					 <div class="col-lg-5">
					 	 <input type="text" class="form-control" name="valeur" id="valeur" placeholder="valeur du  champs" required autofocus>
					 </div>
					 <div class="col-lg-2">
					 	<button class="btn btn-lg btn-primary btn-block" id="sbmt" type="submit">Ajouter</button>
					 </div>
				</fieldset>
			</form>
		</div>
		<hr/>
		<div class="row">
			<form   role="form" method="post" action="{{path('squid_project_general_config_update')}}">
				<fieldset>
					{% for c in configs %}
						<div class="form-group ">
			                <label class="control-label" for="{{c.nom}}">{{c.nom}}</label>
			                <input type="text" class="form-control" id="{{c.nom}}" name="{{c.nom}}" value="{{c.valeur}}">
			            </div>
					{% endfor %}
				</fieldset>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Modifier</button>
			</form>
		</div>
	</div>

	<script type="text/javascript">

		var delay = (function(){
			var timer = 0;
		  	return function(callback, ms){
			 	clearTimeout (timer);
			    timer = setTimeout(callback, ms);
			};
		})();

		$('#nom').keyup(function(){
				var champs="nom";
				var val=$("#"+champs).val();
			    delay(function(){
			      $.ajax({
			       	url : "/squidproject/web/app_dev.php/validate/configuration/"+val,
			       	type : 'GET',
			       	dataType : 'html',
			       	success : function(rslt, statut){
			           	$("#"+champs+"_check").html(rslt); 
			           	 
			      	}
			    });
			    }, 500 );
			});

		setInterval(function(){
	   		 if($("#nom_check").text()!="OK !" ){
	   		 	$("#sbmt").prop("disabled",true);
	   		 }else{
	   		 	$("#sbmt").prop("disabled",false);
	   		 }
	   	}, 300);



	</script>
{% endblock %}