{% extends '::layoutSquid.html.twig' %}

{% block slider%}
	{% include '::slider.html.twig' %}

{%endblock %}

{% block menu%}
	{% include 'SquidProjectGeneralBundle:Menus:menuDestination.html.twig' %}

{%endblock %}

{% block corps %}
	<div style="padding-left:150px; padding-top:50px  " class="col-lg-8" >
		<div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom destination</th>
                        <th>Base de données</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {%for d in ds %}
                    	<tr>
                    		<td>{{d.id}}</td>
                    		<td>{{d.nom}}</td>
                    		<td>{{ render(controller('SquidProjectGeneralBundle:Destination:DBbyDest', 
                    						{ 'idDB':d.idDestinationDb})) }}</td>
                    		<td><a href="{{path('squid_project_general_destination_update',{'id':d.id})}}">
                    			<button   class="btn btn-primary" id="up">
                    			Modifier
                    		</button></a>
                                <a href="{{path('squid_project_general_destination_delete',{'id':d.id})}}">
                                <button    class="btn btn-primary" id="del">
                                Supprimer
                            </button></a></td>
                    	</tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
	</div>

	
{% endblock %}